/* 큰 화면 */
.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
  background-position: center center;
  overflow: auto;
}

body {
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-size: cover;
  background-color: black;
  background-attachment: local;
}

#current_date {
  text-align: left;
  margin-bottom: 0;
  font-family: monospace;
}

#login-form,
#greeting {
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 23px;
}

#routine-form input,
#routine-form input::placeholder {
  font-size: 15px;
  border: none;
  background: transparent;
  text-decoration-line: underline;
  color: aliceblue;
}

#login-form input,
#login-form input::placeholder,
#todo-form input,
#todo-form input::placeholder {
  font-size: 23px;
  border: none;
  background: transparent;
  text-decoration-line: underline;
  color: aliceblue;
}

#clock {
  text-align: center;
  font-size: 28px;
  padding-top: 35px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: monospace;
}

#routine-form {
  width: 800px;
  position: fixed;
  top: 80px;
  left: 5px;
  text-align: left;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#routine-list {
  position: fixed;
  top: 120px;
  left: 5px;
  width: 155px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  font-size: 14px;
  height: 170px;
  background-color: rgba(26, 26, 26, 0.4);
  border-radius: 12px;
  padding-left: 12px;
}

ul {
  list-style-type: none;
}

#routine-list li {
  list-style-position: inside;
  margin: 2px 0;
  text-align: left;
}

#routine-list button {
  font-size: 12px;
  margin-left: 4px;
  border: none;
  background: transparent;
  color: aliceblue;
}

#routine-list input {
  margin-right: 10px;
  /* size 조절하려면 label해야 함 귀찮 */
}

#todo-form {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#todo-list {
  margin: 0 auto;
  text-align: center;
  width: 410px;
  overflow: auto;
  font-size: 16px;
  height: 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(26, 26, 26, 0.4);
  border-radius: 12px;
  padding-left: 12px;
}

ul {
  list-style-type: none;
}

#todo-list li {
  list-style-position: inside;
  margin: 4px 0;
  text-align: left;
}

#todo-list button {
  font-size: 14px;
  margin-left: 4px;
  border: none;
  background: transparent;
  color: #bac9e3;
}

#todo-list input {
  margin-right: 15px;
  /* size 조절하려면 label해야 함 귀찮 */
}

#weather {
  padding-top: 8px;
  font-size: 13px;
  left: 0;
}

#quote-wrap {
  text-align: center;
}

#quote {
  margin-top: 55px;
  font-size: 15px;
  font-family: "Nanum Myeongjo", serif;
  line-height: 27px;
  border-radius: 12px;
  background-color: rgba(26, 26, 26, 0.4);
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

iframe {
  height: 168.7px;
  /* best는 16:9 인데..힘들어 */
  width: 300px;
  position: absolute;
  padding-top: 10px;
  right: 0;
  opacity: 71%;
}

iframe playerVars {
  font-size: 3px;
}

.button1 {
  position: fixed;
  top: 260px;
  right: 20px;
  border: none;
  background: transparent;
  color: aliceblue;
}

.button2 {
  position: fixed;
  top: 290px;
  right: 20px;
  border: none;
  background: transparent;
  color: aliceblue;
}

.button3 {
  position: fixed;
  top: 320px;
  right: 20px;
  border: none;
  background: transparent;
  color: aliceblue;
}

/* 중간 약 반절 */
@media (max-width: 780px) {
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 90%;
    background-position: center center;
    overflow: auto;
  }

  #current_date {
    text-align: left;
    margin-bottom: 0;
    font-family: monospace;
    font-size: 16px;
  }

  #login-form,
  #greeting {
    position: fixed;
    top: 5px;
    right: 10px;
    font-size: 22px;
  }

  #routine-form input,
  #routine-form input::placeholder {
    font-size: 15px;
    border: none;
    background: transparent;
    text-decoration-line: underline;
    color: aliceblue;
  }

  #login-form input,
  #login-form input::placeholder,
  #todo-form input,
  #todo-form input::placeholder {
    font-size: 20px;
    border: none;
    background: transparent;
    text-decoration-line: underline;
    color: aliceblue;
  }

  #clock {
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace;
  }

  #routine-form {
    width: 800px;
    position: fixed;
    top: 80px;
    left: 5px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #routine-list {
    position: fixed;
    top: 120px;
    left: 5px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    font-size: 12px;
    height: 140px;
    background-color: rgba(26, 26, 26, 0.4);
    border-radius: 12px;
    padding-left: 12px;
  }

  ul {
    list-style-type: none;
  }

  #routine-list li {
    list-style-position: inside;
    margin: 2px 0;
    text-align: left;
  }

  #routine-list button {
    font-size: 12px;
    margin-left: 4px;
    border: none;
    background: transparent;
    color: #bac9e3;
  }

  #routine-list input {
    margin-right: 10px;
    /* size 조절하려면 label해야 함 귀찮 */
  }

  #todo-form {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #todo-list {
    margin-left: 30%;
    width: 280px;
    text-align: center;
    overflow: auto;
    font-size: 14px;
    height: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    background-color: rgba(26, 26, 26, 0.4);
    border-radius: 12px;
  }

  ul {
    list-style-type: none;
  }

  #todo-list li {
    list-style-position: inside;
    margin: 4px 0;
    text-align: left;
  }

  #todo-list button {
    font-size: 13px;
    margin-left: 4px;
    border: none;
    background: transparent;
    color: #bac9e3;
  }

  #todo-list input {
    margin-right: 10px;
    /* size 조절하려면 label해야 함 귀찮 */
  }

  #weather {
    padding-top: 10px;
    font-size: 10px;
    right: 0;
  }

  #quote-wrap {
    text-align: center;
  }

  #quote {
    margin-top: 55px;
    font-size: 14px;
    font-family: "Nanum Myeongjo", serif;
    line-height: 23px;
    border-radius: 12px;
    background-color: rgba(26, 26, 26, 0.4);
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  iframe {
    height: 90px;
    width: 180px;
    position: absolute;
    padding-top: 7px;
    right: 0;
    opacity: 71%;
  }

  iframe playerVars {
    font-size: 2px;
  }

  .button1 {
    position: fixed;
    top: 160px;
    right: 20px;
    border: none;
    background: transparent;
    color: aliceblue;
  }

  .button2 {
    position: fixed;
    top: 190px;
    right: 20px;
    border: none;
    background: transparent;
    color: aliceblue;
  }
}
/* 폰?? 작게   */

@media (max-width: 400px) {
  #current_date {
    text-align: left;
    margin-bottom: 0;
    font-family: monospace;
    font-size: 13px;
  }

  #login-form,
  #greeting {
    position: fixed;
    top: 0;
    right: 10px;
    font-size: 20px;
  }

  #login-form input,
  #login-form input::placeholder,
  #todo-form input,
  #todo-form input::placeholder {
    font-size: 15px;
    border: none;
    background: transparent;
    text-decoration-line: underline;
    color: aliceblue;
  }

  #clock {
    text-align: center;
    font-size: 20px;
    padding-top: 35px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace;
  }

  #routine-form {
    display: none;
  }

  #routine-list {
    display: none;
  }

  #todo-form {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #todo-list {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    overflow: auto;
    font-size: 13px;
    height: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    background-color: rgba(26, 26, 26, 0.4);
    border-radius: 12px;
  }

  ul {
    list-style-type: none;
  }

  #todo-list li {
    list-style-position: inside;
    margin: 4px 0;
    text-align: left;
  }

  #todo-list button {
    font-size: 10px;
    margin-left: 4px;
    border: none;
    background: transparent;
    color: #bac9e3;
  }

  #todo-list input {
    margin-right: 10px;
    /* size 조절하려면 label해야 함 귀찮 */
  }

  #weather {
    display: none;
  }

  #quote-wrap {
    text-align: center;
  }

  #quote {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Nanum Myeongjo", serif;
    line-height: 23px;
    border-radius: 12px;
    background-color: rgba(26, 26, 26, 0.4);
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  iframe {
    display: none;
  }

  iframe playerVars {
    display: none;
  }

  .button1 {
    display: none;
  }

  .button2 {
    display: none;
  }
}
