/* 큰 화면 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap");

* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}

img {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
  background-position: center center;
  overflow: auto;
}

body {
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Nanum Gothic" Geneva, Verdana, sans-serif;
  background-size: cover;
  background-color: black;
  background-attachment: local;
}

#current_date {
  position: fixed;
  text-align: left;
  top: 15px;
  margin: 0;
  font-family: monospace, "Nanum Gothic";
  font-size: 18px;
  /* 배포에 폰트 사이즈가 적용이 안되는데?? */
}

#weather {
  position: fixed;
  top: 55px;
  font-size: 13px;
  left: 10px;
}

#login-form input {
  text-align: right;
  position: fixed;
  top: 15px;
  right: 10px;
  margin: 0 30px;
}
#greeting {
  position: fixed;
  margin: 0 30px;
  top: 15px;
  right: 10px;
  font-size: 18px;
}

.buttonRename {
  font-size: 15px;
  position: fixed;
  top: 13px;
  right: 10px;
  border: none;
  background: transparent;
}

.buttonRename:hover {
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
  padding: 2px 6px;
}

#routine-form input,
#routine-form input::placeholder {
  font-size: 15px;
  border: none;
  background: transparent;
  text-decoration-line: underline;
  color: aliceblue;
}

#login-form input,
#login-form input::placeholder,
#todo-form input,
#todo-form input::placeholder {
  font-size: 18px;
  border: none;
  background: transparent;
  text-decoration-line: underline;
  color: aliceblue;
}

#clock {
  text-align: center;
  font-size: 28px;
  padding-top: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: monospace, "Nanum Gothic";
}

#routine-form {
  position: fixed;
  top: 120px;
  left: 5px;
  text-align: left;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#routine-list {
  position: fixed;
  top: 150px;
  left: 5px;
  width: 155px;
  padding: 10px 10px;
  overflow: auto;
  font-size: 14px;
  height: 170px;
  background-color: rgba(26, 26, 26, 0.4);
  border-radius: 15px;
}

.routine__btn__delete {
  position: fixed;
  top: 140px;
  left: 170px;
  border: none;
  font-size: 15px;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

ul {
  list-style-type: none;
}

#routine-list li {
  list-style-position: inside;
  margin: 2px 0;
  text-align: left;
}

#routine-list li:hover {
  text-decoration-line: underline;
}

#routine-list button {
  font-size: 12px;
  margin-left: 4px;
  border: none;
  background: transparent;
  color: #bac9e3;
}

#routine-list input {
  margin-right: 10px;
  /* size 조절하려면 label해야 함 귀찮 */
}

#todo-form {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#todo-list {
  margin: 0 auto;
  text-align: center;
  width: 410px;
  overflow: auto;
  font-size: 15px;
  height: 230px;
  padding: 10px 10px;
  background-color: rgba(26, 26, 26, 0.4);
  border-radius: 15px;
  position: relative;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.todo__btn__delete {
  padding-top: 15px;
  border: none;
  font-size: 15px;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

.routine__btn__delete:hover,
.todo__btn__delete:hover {
  color: steelblue;
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
}

#todo-list li:hover {
  text-decoration-line: underline;
}

ul {
  list-style-type: none;
}

#todo-list li {
  list-style-position: inside;
  margin: 4px 0;
  text-align: left;
}

#todo-list button {
  font-size: 14px;
  margin-left: 4px;
  border: none;
  background: transparent;
  color: #bac9e3;
}

#todo-list input {
  margin-right: 15px;
  /* size 조절하려면 label해야 함 귀찮 */
}

#quote-wrap {
  text-align: center;
}

#quote {
  margin-top: 80px;
  font-size: 14px;
  font-family: "Nanum Myeongjo", serif;
  line-height: 25px;
  border-radius: 15px;
  background-color: rgba(26, 26, 26, 0.4);
  display: inline-block;
  padding: 10px 20px;

  /* 안티앨리어싱 효과.. 윈도우 안된대 */
}

iframe {
  height: 168.7px;
  /* best는 16:9 인데..힘들어 */
  width: 300px;
  position: absolute;
  margin-top: 55px;
  right: 0;
  opacity: 71%;
}

iframe playerVars {
  font-size: 3px;
}

.button1 {
  position: fixed;
  top: 260px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

.button2 {
  position: fixed;
  top: 290px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

.button3 {
  position: fixed;
  top: 320px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

.button4 {
  position: fixed;
  top: 350px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

.button5 {
  position: fixed;
  top: 380px;
  right: 10px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

.button6 {
  position: fixed;
  top: 410px;
  right: 10px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background: transparent;
  color: aliceblue;
  transition: transform 0.3s ease-in-out;
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover,
.buttonSubmit:hover,
.todo__btn__delete:hover {
  color: steelblue;
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
  padding: 2px 6px;
}

.button1:focus,
.button2:focus,
.button3:focus,
.button4:focus,
.button5:focus,
.button:focus,
.buttonSubmit:focus {
  color: olivedrab;
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
  padding: 2px 6px;
}
#video-form {
  position: fixed;
  top: 420px;
  right: 18px;
  border: none;
  background: transparent;
  color: aliceblue;
}
#playlist-form {
  position: fixed;
  top: 450px;
  right: 18px;
  border: none;
  background: transparent;
  color: aliceblue;
}

.buttonSubmit {
  position: fixed;
  top: 480px;
  right: 10px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  background: transparent;
  color: #bac9e3;
  transition: transform 0.3s ease-in-out;
}
#video-form input,
#video-form input::placeholder,
#playlist-form input,
#playlist-form input::placeholder {
  font-size: 15px;
  border: none;
  background: transparent;
  text-decoration-line: underline;
  color: aliceblue;
}

/* 중간 약 반절 */
@media (max-width: 780px) {
  #current_date {
    position: fixed;
    text-align: left;
    top: 15px;
    margin: 0;
    font-family: monospace, "Nanum Gothic";
    font-size: 16px;
  }

  #weather {
    position: fixed;
    top: 42px;
    font-size: 13px;
    left: 10px;
  }

  #login-form input {
    text-align: right;
    position: fixed;
    top: 17px;
    right: 10px;
    margin-right: 30px;
    font-size: 20px;
  }
  #greeting {
    position: fixed;
    top: 15px;
    right: 10px;
    margin: 0px 30px;
    font-size: 18px;
  }

  .buttonRename {
    font-size: 15px;
    position: fixed;
    margin: 0;
    top: 13px;
    right: 10px;
    border: none;
    background: transparent;
  }

  #routine-form input,
  #routine-form input::placeholder {
    font-size: 15px;
    border: none;
    background: transparent;
    text-decoration-line: underline;
    color: aliceblue;
  }

  #login-form input,
  #login-form input::placeholder,
  #todo-form input,
  #todo-form input::placeholder {
    font-size: 18px;
    border: none;
    background: transparent;
    text-decoration-line: underline;
    color: aliceblue;
  }

  #clock {
    text-align: center;
    font-size: 22px;
    padding-top: 60px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace, "Nanum Gothic";
  }

  #routine-form {
    position: fixed;
    display: inline;
    top: 110px;
    left: 5px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #routine-list {
    position: fixed;
    top: 150px;
    left: 5px;
    width: 140px;
    padding: 10px 10px;
    overflow: auto;
    font-size: 12px;
    height: 150px;
    background-color: rgba(26, 26, 26, 0.4);
    border-radius: 15px;
  }

  ul {
    list-style-type: none;
  }

  #routine-list li {
    list-style-position: inside;
    margin: 2px 0;
    text-align: left;
  }

  #routine-list button {
    font-size: 12px;
    margin-left: 4px;
    border: none;
    background: transparent;
    color: #bac9e3;
  }

  #routine-list input {
    margin-right: 10px;
    /* size 조절하려면 label해야 함 귀찮 */
  }

  .routine__btn__delete {
    position: fixed;
    top: 132px;
    left: 165px;
    font-size: 13px;
  }

  #todo-form {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  #todo-list {
    margin-left: 30%;
    width: 290px;
    height: 200px;
    text-align: center;
    overflow: auto;
    font-size: 14px;
    padding: 10px 10px;
    background-color: rgba(26, 26, 26, 0.4);
    border-radius: 15px;
  }

  ul {
    list-style-type: none;
  }

  #todo-list li {
    list-style-position: inside;
    margin: 4px 0;
    text-align: left;
  }

  #todo-list button {
    font-size: 13px;
    margin-left: 4px;
    border: none;
    background: transparent;
    color: #bac9e3;
  }

  #todo-list input {
    margin-right: 10px;
    /* size 조절하려면 label해야 함 귀찮 */
  }

  .todo__btn__delete {
    padding-top: 2px;
    border: none;
    font-size: 14px;
    background: transparent;
    color: aliceblue;
    transition: transform 0.3s ease-in-out;
  }

  #weather {
    padding-top: 10px;
    font-size: 10px;
    right: 0;
  }

  #quote-wrap {
    text-align: center;
  }

  #quote {
    margin-top: 100px;
    font-size: 13px;
    font-family: "Nanum Myeongjo", serif;
    line-height: 23px;
    border-radius: 15px;
    background-color: rgba(26, 26, 26, 0.4);
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  iframe {
    height: 90px;
    width: 180px;
    position: absolute;
    margin-top: 50px;
    right: 0;
    opacity: 71%;
  }

  iframe playerVars {
    font-size: 2px;
  }

  .button1 {
    position: fixed;
    top: 160px;
    right: 10px;
    border: none;
    background: transparent;
    color: aliceblue;
  }

  .button2 {
    position: fixed;
    top: 190px;
    right: 10px;
    border: none;
    background: transparent;
    color: aliceblue;
  }
  .button3 {
    position: fixed;
    top: 220px;
    right: 10px;
    border: none;
    background: transparent;
    color: aliceblue;
  }
  .button4 {
    position: fixed;
    top: 250px;
    right: 10px;
    border: none;
    background: transparent;
    color: aliceblue;
  }
  .button5 {
    position: fixed;
    top: 280px;
    right: 10px;
    border: none;
    background: transparent;
    color: aliceblue;
  }

  .button6 {
    position: fixed;
    top: 310px;
    right: 10px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    background: transparent;
    color: aliceblue;
    transition: transform 0.3s ease-in-out;
  }

  #video-form {
    position: fixed;
    top: 320px;
    right: 15px;
    border: none;
    background: transparent;
    color: aliceblue;
  }
  #playlist-form {
    position: fixed;
    top: 350px;
    right: 15px;
    border: none;
    background: transparent;
    color: aliceblue;
  }

  .buttonSubmit {
    position: fixed;
    top: 380px;
    right: 10px;
    border: none;
    background: transparent;
    color: #bac9e3;
  }
  #video-form input,
  #video-form input::placeholder,
  #playlist-form input,
  #playlist-form input::placeholder {
    font-size: 15px;
    border: none;
    background: transparent;
    text-decoration-line: underline;
    color: aliceblue;
  }
}

/* 폰?? 작게   */

@media (max-width: 550px) {
  /* 상단 바 묶어서 플렉스 */
  #current_date {
    position: fixed;
    top: 15px;
    text-align: left;
    margin-bottom: 0;
    font-family: monospace, "Nanum Gothic";
    font-size: 10px;
  }

  #login-form input {
    text-align: right;
    position: fixed;
    top: 17px;
    right: 3px;
    margin-right: 30px;
    font-size: 16px;
  }
  #greeting {
    position: fixed;
    top: 15px;
    right: 10px;
    margin-right: 30px;
    font-size: 10px;
  }

  .buttonRename {
    font-size: 11px;
    position: fixed;
    top: 11px;
    right: 10px;
    border: none;
    background: transparent;
  }

  #login-form input,
  #login-form input::placeholder,
  #todo-form input,
  #todo-form input::placeholder {
    font-size: 12px;
    border: none;
    background: transparent;
    text-decoration-line: underline;
    color: aliceblue;
  }

  #clock {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 55px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: monospace, "Nanum Gothic";
  }

  #routine-form {
    display: none;
  }

  #routine-list {
    display: none;
  }

  #todo-form {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #todo-list {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    text-align: center;
    overflow: auto;
    font-size: 11px;
    padding: 5px 5px;
    background-color: rgba(26, 26, 26, 0.4);
    border-radius: 15px;
  }

  ul {
    list-style-type: none;
  }

  #todo-list li {
    list-style-position: inside;
    margin: 2px 0;
    text-align: left;
  }

  #todo-list button {
    font-size: 10px;
    margin-left: 4px;
    border: none;
    background: transparent;
    color: #bac9e3;
  }

  #todo-list input {
    margin-right: 5px;
    /* size 조절하려면 label해야 함 귀찮 */
  }

  .routine__btn__delete {
    display: none;
  }

  .todo__btn__delete {
    display: none;
  }

  #weather {
    display: none;
  }

  #quote-wrap {
    text-align: center;
  }

  #quote {
    margin-top: 70px;
    font-size: 10px;
    font-family: "Nanum Myeongjo", serif;
    line-height: 18px;
    border-radius: 15px;
    background-color: rgba(26, 26, 26, 0.4);
    display: inline-block;
    padding: 10px 20px;
  }

  iframe {
    display: none;
  }

  iframe playerVars {
    display: none;
  }

  .button1 {
    display: none;
  }

  .button2 {
    display: none;
  }
  .button3 {
    display: none;
  }
  .button4 {
    display: none;
  }
  .button5 {
    display: none;
  }

  #video-form {
    display: none;
  }
  #playlist-form {
    display: none;
  }

  .buttonSubmit {
    display: none;
  }
}
